.wrapper {
    @apply bg-medium-grey;

    min-height: 100vh;
    margin-left: 25rem;
}

.header {
    @apply p-2;
    @apply bg-medium-blackberry;
}

.title {
    @apply m-2;
    @apply text-light-snow;

    font-size: 1.3rem;
}

.body {
    @apply m-2;
}
