/node_modules
/public/hot
/public/storage
/public/css/*
/public/js/*
/public/images/*
/public/fonts/*
/public/build/*
/public/vendor
/storage/*.key
/vendor
.env
.env.backup
.env.testing
.phpunit.result.cache
.php-cs-fixer.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

keys

*.sh
!generate-env.sh

*.xml
!phpunit.xml

public/keycloak.json
public/mix-manifest.json


