{
    "extends": [
        "stylelint-prettier/recommended"
    ],
    "ignoreFiles": [
        "**/*.php",
        "**/*.js",
        "./resources/scss/config/**/*.scss",
        "./resources/scss/third-party/**/*.scss"
    ],
    "plugins": [
        "stylelint-scss",
        "stylelint-prettier"
    ],
    "rules": {
        "prettier/prettier": true,
        "declaration-no-important": true,
        "keyframe-declaration-no-important": true,
        "color-no-hex": true,
        "unit-disallowed-list": ["px"],
        "selector-disallowed-list": ["/^#/"],
        "color-named": "never"
    }
}
