.editorWrapper {
    @apply border border-solid border-2 border-medium-grey rounded-lg p-2.5;
    @apply text-2xl;

    min-height: 20rem;
}

h2 {
    @apply text-4xl;
}

h3 {
    @apply text-3xl;
}

input, :global(.cdx-input), .gallery, textarea {
    @apply p-2.5 m-2;
    @apply text-black font-normal bg-light-grey;
    @apply border border-solid border-2 border-medium-grey rounded-lg;
    @apply transition ease-in-out;
    @apply focus:text-dark-grey focus:bg-light-snow focus:border-medium-sky focus:outline-none focus:border-medium-sky focus:border-2;
}

.label {
    @apply block ml-2;
    @apply text-black text-2xl font-medium;
}

:global(.ce-toolbar) {
    @apply right-5;
}

:global(.ce-block__content) {
    @apply my-0 ml-24 mr-12;
}

:global(.cdx-framed) {
    @apply bg-light-cloud mx-24 my-8 p-6 flex;
}

.galleryHeader {
    @apply flex justify-between mb-4;
    @apply md:items-center;
}

.galleryFooter {
    @apply flex justify-center items-center;
}

.galleryTile {
    @apply flex flex-col md:flex-row items-center my-4 p-2 bg-light-snow rounded-lg;
}

.galleryUpload,
.galleryDelete {
    @apply bg-medium-blackberry text-light-snow text-2xl;
    @apply mt-5 w-fit rounded-lg;
    @apply hover:bg-dark-night;

    & > button {
        @apply py-2.5 px-5;
    }
}

.galleryUpload{
    @apply py-2.5;

    & > label {
        @apply cursor-pointer py-2.5 px-5;
    }
}

.galleryItem{
    @apply mb-2.5;
}

.galleryImageText {
    @apply m-3;

    inline-size: 100%;

    & > textarea {
        @apply w-full;

        min-block-size: 12rem;
    }
}

.galleryTitle {
    @apply flex flex-col justify-start;
}

.galleryImage {
    @apply w-60;
}

.galleryTextarea {
    @apply max-w-2xl;
}

.galleryLabel {
    @apply px-2.5;
}
