.formGroup {
    @apply mb-2 text-2xl;
}

.label {
    @apply block;
    @apply text-black text-2xl font-medium;
}

.formTextInput,
.textArea,
.autocomplete {
    @apply w-full p-2.5;
    @apply text-black font-normal bg-light-grey;
    @apply border border-solid border-2 border-medium-grey rounded-lg;
    @apply transition ease-in-out m-0;
    @apply focus:text-black focus:bg-light-snow focus:border-medium-sky focus:outline-none focus:border-medium-sky focus:border-2;
}

.formToggle {
    @apply appearance-none w-20 rounded-full h-10 align-top;
    @apply bg-light-snow bg-no-repeat bg-medium-grey;
    @apply focus:outline-none cursor-pointer shadow-sm;

    margin-top: 0.1rem;
    background-image: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%22-4 -4 8 8%22%3E%3Ccircle r=%223%22 fill=%22%23fff%22/%3E%3C/svg%3E');
    background-position: 0;
    transition: background-position 0.15s ease-in-out;

    &.checked {
        @apply bg-contain bg-medium-sky;

        background-position: 100%;
    }
}

.panel {
    @apply p-2;
}

.error {
    @apply text-red;
}

.isInvalid {
    @apply border-dark-brick text-red;
}

.textArea {
    @apply text-2xl;
}

.inputToken {
    @apply bg-medium-sky;
}
